.kasa-Footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.logo_Kasa_Footer {
    filter: brightness(5);
    width: 120px;
    padding: 40px;
}
.kasa-footer-elem {
	color: white;
}
@media (max-width: 799px),(min-width: 820px){
    .kasa-Footer{
        margin-top:230px;
    }
}
@media (max-width: 499px){
    .kasa-Footer{
        margin-top: 0;
    }
}